version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:14.17.0
    steps:
      - checkout
      - run:
          name: Install npm dependencies
          command: |
            npm install save
  build_docker_image:
    machine:
      image: ubuntu-2004:current
    steps:
    - checkout
    - run:
          name: Build Docker Image
          command: |
            docker build -t my-docker-image:latest .
            echo ${DOCKERHUB_PASS} | docker login -u ${DOCKERHUB_USER} --password-stdin
            docker push my-docker-image:latest
workflows:
  build_test_and_deploy:
    jobs:
      - build
      - build_docker_image